<!DOCTYPE html>

<html>
<head>
	<title></title>
	<style>
		h1 {
			text-align: center;
		}
		form {
			margin: 0 auto;
			text-align: center;
		}
		textarea {
			width: 30em;
			height: 15em;
		}
	</style>
</head>

<body>
	<h1>Daily Planet Article</h1>
	<form method="post" action="/articles">
		<input type="text" name="articles[headline]" placeholder="headline"><br>
		<input type="text" name="articles[author]" placeholder="author"><br>
		<textarea name="articles[summary]">
		</textarea></br>
		<button>Save Article</button>
		<button><a href="/site/homepage">Home</a></button>
	</form>

</body>

</html> 