<!DOCTYPE html>

<html>
<head>
	<title></title>
</head>

<body>
	<h1>Article Summary</h1>
		<h2> <%= article.headline %> </h2>
			<p><%= article.author %></p>
			<p><%= article.summary %></p>
	<button><a href="/articles">Articles</a></button>
	<button><a href="/site/homepage">Home</a></button>

</body>

</html> 