<!DOCTYPE html>

<html>
<head>
	<title>About</title>
	<style>
		li {
			display: inline;
		}
	</style>
</head>

<body>
	<nav> 
		<ul>
			<li><a href="/site/homepage" >Home</a></li>
			<li><a href="/site/about" >About</a></li>
			<li><a href="/articles">Articles</a></li>
			<li><a href="/site/contact" >Contact</a></li>
		</ul>
	</nav>
	<h1>About the Daily Planet</h1>

</body>

</html> 