<!DOCTYPE html>

<html>
<head>
	<title>Contact</title>
	<style>
		li {
			display: inline;
		}
	</style>
</head>

<body>
	<nav> 
		<ul>
			<li><a href="/site/homepage" >Home</a></li>
			<li><a href="/site/about" >About</a></li>
			<li><a href="/articles/index">Articles</a></li>
			<li><a href="/site/contact" >Contact</a></li>
		</ul>
	</nav>
	<h1>Contact</h1>
	<form>
		<h2>Contact me</h2>
	</form>
</body>

</html> 